.container{
    background-color: rgba(236, 245, 245, 0.815) ;
    border-radius: 10px;
    font-weight: bolder;
}
main{
    margin-top: 3em;
}
.titulo{
    text-align: center;
    font-weight: 600;
}
thead{
    background-color: rgba(243, 247, 247, 0.883);
}
form{
    text-align: right;
}
.filtro{
    background-color: rgba(7, 104, 3, 0.883);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.iconos-flaticon{
    width: 2em;
    margin: 0 .5em;
}

.boton-accion{
    margin: 0 1em;
}