<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Maratón CaC</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="icon" href="imagen/th (2).ico">
    <link rel="stylesheet" href="css/style.css">
  </head>
    <body background="imagen/martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg">
    <header id="header">
      <!-- place navbar here -->
    </header>
    <main>
      <div id="app" class="container">
        <h3><u>Maratón Codo a Codo</u></h3>
        <br />
        <a class="btn btn-primary" href="corredor_nuevo.html">Nuevo</a>
        <br /><br />
        <div v-if="error">
          <p>Lo sentimos , ........</p>
        </div>
        <div v-else>
          <section v-if="cargando">
            <div class="spinner-border"></div>
            <p>Cargando .....</p>
          </section>
          <section v-else>

<!-- 
        <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Filtro Pais
        </button>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">ARG</a></li>
          <li><a class="dropdown-item" href="#">URU</a></li>
          <li><a class="dropdown-item" href="#">CHI</a></li>
          <li><a class="dropdown-item" href="#">BRA</a></li>
          <li><a class="dropdown-item" href="#">ECU</a></li>
          <li><a class="dropdown-item" href="#">PAR</a></li>
          <li><a class="dropdown-item" href="#">BOL</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">TOD</a></li>
        </ul>
        </div> -->
        
        <label for="">Filtro por Pais:   </label>
        <select name="Filtro" Class="filtro">Filtro Pais:
          <option value="TOD">Todos</option>
          <option value="ARG">ARG</option>
          <option value="BRA">URU</option>
          <option value="BRA">CHI</option>
          <option value="BRA">BRA</option>
          <option value="BRA">ECU</option>
          <option value="BRA">PAR</option>
          <option value="BRA">BOL</option>
          <option value="BRA">COL</option>
          <option value="BRA">PER</option>
          <option value="BRA">VEN</option>
         </select>
        

            <div class="form-group">
              <label for="">Pais</label>
              <input type="text" class="form-control" v-model="filtrar_por" />
            </div>
            <div class="table-responsive">
              <!-- <table class="table table-bordered"> -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">PUESTO</th>
                    <th scope="col">PAIS</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">TIEMPO</th>
                    <th scope="col">ACCIONES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class=""
                    v-for="corredor in corredoresFiltrados"
                  >
                    <td>{{corredor.posicion}}</td>
                    <td><img :src="imagenPais(corredor.pais)" alt="">{{corredor.pais}}</td>
                    <td>{{corredor.nombre}}</td>
                    <td>{{corredor.apellido}}</td>
                    <td>{{corredor.tiempo}}</td>
                    <td>
                      <a
                        class="btn btn-primary"
                        :href="'./corredor_update.html?id='+ corredor.id"
                        >Editar</a
                      >
                      <button
                        type="button"
                        class="btn btn-danger"
                        v-on:click="eliminar(corredor.id)"
                      >
                        Eliminar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <script>
      <!--Link de Bootstrap-->
      src =
        "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js";
      integrity =
        "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3";
      crossorigin = "anonymous";
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Link de VUE-->
    <script src="js/corredores.js"></script>
  </body>
</html>